build/*
node_modules/*
.papi/*
src/components/AppContract.jsx
src/components/AppProvider.jsx
src/components/CharityResultCard.js
src/components/CharitySearch.jsx
src/components/CompassAnimation.js
src/components/Loading.jsx
src/components/Navbar.jsx
src/components/WalletConnector.jsx
src/components/donate/AiProcessingView.jsx
src/components/donate/CharityResultsView.jsx
src/components/donate/DonationConfirmationView.jsx
src/context/WalletContext.jsx
src/pages/AboutPage.js
src/pages/CharitiesPage.js
src/pages/DonatePage.js
src/pages/HomePage.js
src/pages/ManagementPage.js
src/pages/RegisterCharityPage.js
