.env
/venv


#Django
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

##cacheDjango
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

db.sqlite3
.cursor/rules/README_md.mdc
.cursor/rules/eunoia_web_public_layout.mdc
.cursor/rules/eunoia_web_src_layout.mdc
.cursor/rules/backend_eunoia_backend_requirements_txt.mdc
.cursor/rules/backend_eunoia_backend_manage_py.mdc
